body {
  background: #000;
}


div.contents.body-page{
    margin: 0 auto;
}

div.star-wars-intro {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #2C8BCF;
    font-size: 200%;
    width: 500px; 
    max-width: 90%;
}


div.logoContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display:none;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

div.logoContainer img.logo  {    
    position: absolute;
    top: 150px;
    width: 100%;
    height: auto;
    margin: 0 auto;   
}

div.wormhole  {
    position: fixed;
    width:100%;
    height:100%;
    background-color: #0A0B0E;
    background-color: #fff;   
    background-image: url(https://media.giphy.com/media/mX1bWOEGPIAY1yhmKI/giphy.gif), radial-gradient(circle, #0A0B0E, #0A0B0E, blue); 
    background-position: center, center;;
    background-repeat: no-repeat, no-repeat;
    opacity: 0;
}

.shrink {
    animation: 10s linear shrink;
    animation-fill-mode: forwards;
}

@keyframes shrink {
    from { transform: scale(1.0); } to { transform: scale(0); };
}


div.parallax {
    position: absolute;
    width: 80%;
    height:90%;
    margin: 0 auto;
    left: 0;
    right: 0;
    /*top: 0;*/    
    bottom: 0;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    transform: perspective(100vh) rotateX(50deg);
    transform-origin: 50% 50%;
    overflow: hidden;
    /*max-height: 700px;*/
    max-width: 700px;
    font-size: 150%;
    line-height: 150%;
    text-align: justify;
    -ms-overflow-style: none;
    color: #FFE81F; 
    /*background: #333;*/
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

div.parallax * {
    color: #FFE81F;
}

div.parallax div.scrollpad{
    height: 700px;
}

div.parallax::-webkit-scrollbar {
    display: none;
    width: 12px; /*for vertical scrollbars */
    height: 12px; /*for horizontal scrollbars */
}

.static-faq div.contents > div > div{
   /* display:none;*/
}
 
.lightspeed {
    position: fixed;
    width:100%;
    height:100%;
}

.progressbar {
 /* margin-top: 10%;*/
  position: relative;
  display: block;
  height: 10px;
  width: 100%;
  background: none;
  
  
  
  -webkit-transition: 2s linear;
  -moz-transition: 2s linear;
  -ms-transition: 2s linear;
  -o-transition: 2s linear;
  transition: 2s linear;
  
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  
  filter: blur(1px);
  -moz-filter: blur(1px);
  -webkit-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
}

.progressbar-bar {    
  height: 10px;
  width: 0px;
  background: red;
  border-radius: 0 12px 12px 0;
  
  background: -webkit-linear-gradient(top, rgba(229, 17, 21, 1) 0%, rgba(254, 254, 254, 1) 30%, rgba(254, 254, 254, 1) 0%, rgba(254, 254, 254, 1) 60%, rgba(229, 17, 21, 1) 100%);
  
  -webkit-box-shadow: 0px 0px 8px 2px rgba(255,56,56,1);
  -moz-box-shadow: 0px 0px 8px 2px rgba(255,56,56,1);
  box-shadow: 0px 0px 8px 2px rgba(255,56,56,1);
}
#iris {
    position: absolute;
    /*margin: 0 auto;
    margin-left: auto; 
    margin-right: auto; */
    width: 200vh;    
    height: 200vh;
    top: -50vh;    
    left: calc(-50vh + 50vw - 50vh);
	border-radius: 50%;
	box-sizing: border-box;
	text-decoration: none;
	background-position: center;
	background-size: 100% 100%;
	border: 100vh solid rgba(0,0,0,1);
    transition: border 1s;
    transition-timing-function: linear;
    
}
#iris.collapse {
	border: 0px solid rgba(0,0,0,1);
}

div.b-header {
    z-index: 1000;
}

.wipe{
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: linearwipe 1s steps(10, end); 
}

@keyframes linearwipe{ 
  from { width: 100%; } 
}  